TELEGRAM_BOT_TOKEN = your-telegram-bot-token-here
WEATHER_API_KEY = your-weather-api-key-here
GEMINI_API_KEY = your-gemini-api-key-here
GEMINI_MODEL_NAME =gemini-model-name-here(e.g., gemini-2.5-flash)

FEEDBACK_CHANNEL_ID = your-feedback-channel-id-here(e.g., -1001234567890)